@charset "utf-8";

body {
  font-size: 14px;
  font-family: sans-serif;
  background-color: beige;
  margin: 50px auto;

}

.card-container {
  width: 100%;
  max-width: 360px;
  margin: 0 auto;
  border: 1px solid;
  border-radius: 12px;
  /*position: relative; 자기 자신을 기준으로 함*/
}

.card-container .thumb {
  background-color: rgb(235, 235, 235);
  height: 200px;
  overflow: hidden;
  border-radius: 12px 12px 0 0;
  position: relative;
}

.card-container .thumb img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.card-container .dimm {
    position: absolute;
    width: 100%;
    height: 100%;
    left:0;
    top:0;
    background-color: rgb(0,0,0,0.3);
}

.card-container .contents {
  background-color: #fff;
  padding: 12px;
  border-radius: 0 0 12px 12px;
  position: relative;
}

.card-container .contents .profile {
  border-radius: 99px;
  border: 3px solid lightgreen;
  width: 52px;
  height: 52px;
  position: absolute;
  right: 30px;
  top: 0px;
  translate: 0 -50%;
  transition: 0.5s;
  background-color: lightcoral;
}

.card-container .contents strong {
  font-size: 1.5em;
}

.card-container .contents p {
  margin: 1.02em 0;
  color: rgba(0, 0, 0, 0.5);
  text-align: justify;
}

.card-container .tag-container {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  gap: 8px;
  font-size: 0.8em;
}

.card-container .tag-container a {
  background-color: lightslategrey;
  height: 24px;
  padding: 0 12px;
  border-radius: 30px;
  align-items: center;
  display: flex;
}

.card-container .tag-container a:hover {
  background-color: lightpink;
}

.card-container .tag-container a::before {
  content: "#";
  margin: 0 4px 0 0;
}

body {
  height: 2000px;
}
.btn_top {
  background-color: tomato;
  position: fixed; /*floating 버튼*/
  right: 30px;
  bottom: 30px;
}

.dimm {
  position: fixed;
  left: 0;
  top: 0;
  right: 0;
  bottom:0;
/*상하좌우 다 0으로 주는 방법 개발자가 많이 사용함*/
  inset: 0 0 0 0 /*offset 한번에 주고 싶을 때. 상 우 하 좌*/
  width: 100%;
  height: 100%;
  background-color: rgb(0,0,0,0.3);
  
}


.modal {
  z-index: 101;
  border-radius: 20px;
  padding: 20px;
  width: 300px;
  height: 300px;
  position: fixed;
  background-color: gold;
  left: 50%;
  top: 50%;
  /*inset: 50% auto auto 50%;*/
  translate: -50% -50%;

}
/*body {
    background-color: #e5e5e5;
    display: flex;
    justify-content: center;     
    align-items: center;      
    font-family: sans-serif;
    font-size: 14px;
    height: 100vh;
    margin: auto;
    flex: auto; 모달창 같은

}

.card-container {
    width: 240px;
}

.card-container .thumb {
    width: 100%;
    height: 100%;
    max-width: 360px;
    margin: 0 auto;
    border-radius: 12px;
    background-color: #488ADA;
}

.contents {
    padding: 25px;
    background-color: white;
    font-size: 10px;
    border-radius: 0 0 12px 12px;
}

.card-container .contents strong {
    font-size: 1.8em;
    color: #488ADA;
    display: block;
}

.contents p {
    font-size: 14px;
    color: rgb(0,0,0, 0.7);
    line-height: 1.4;
    margin: 1.02em 0;
}

.tag_container {
    display: flex;
    flex-wrap: wrap;
    border-radius: 0 0 12px 12px;
    padding: 12px 16px 16px 16px;
    gap: 8px;
}

.tag_container li { 
    width: max-content;
    display: flex;
    align-items: center;
    gap: 10px;
    padding: 4px 16px;
    font-size: 12px;
    background-color: rgb(0, 0, 0,0.15);
    border-radius: 28px;
    border: 1px solid white;
    list-style: none;
}

a {
    display: flex;
    align-items: center;
    text-decoration: none;
    padding: 0 12px;
    height: 24px;
}

.card-container .tag_container a:hover {
    background-color: rgb(0, 0, 0,0.3);
}

.card-container .tag_container a::before {
    content:'📍'
    margin: 0 4px 0 0;
}
*/