@charset "utf-8";

div.search-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 300px;
    background-color: #f3f3f3;
    position: relative;
    margin: 50px auto;
    padding: 20px 20px 40px 20px;
    box-shadow: 3px 10px 10px rgb(0,0,0,0.2);
}

.advanced {
    position: absolute;
    bottom: 10px;
    right: 25px;
}

.advanced a {
    font-size: 12px;
    text-decoration: underline;
    color:darkcyan;
}

input {
    border: 1px solid #000;
    border-radius: 5px;
    background-color: #fff;
    padding: 10px 10px 10px 35px;
    width: 250px;
    margin-bottom: 10px;
    background-image: url('../images/icons/search.svg');
    background-repeat: no-repeat;
    background-size: 20px;
    background-position: 10px center; /*좌-우 상-하*/
}

button {
    width: 250px;
    height: 35px;
    background-color: cadetblue;
    color: #fff;
    border-radius: 5px;
}