@charset "utf-8";

      /* reset */
    * {
    margin : 0;
    padding : 0;
    box-sizing: border-box;
        }



     .blind {
    
            position: absolute; /*절대좌표*/
            clip: rect(0 0 0 0); /*crop같은 기능*/
            width: 1px;
            height: 1px;
            margin: -1px;
            overflow: hidden;
            }
        